<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.roc.rocdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--危险权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--一般权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".RocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/base_NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".activity.SelectPhotoActivity"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".activity.CoordinatorLayout"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".activity.PopTest"
            android:theme="@style/base_NoActionBar" />
        <activity android:name=".activity.RecyclerViewAddHead" />
        <activity android:name=".activity.QrCodeActivity" />
        <activity android:name=".activity.NineGongGeAcitivy" />
        <activity android:name=".activity.TransitionOneActivity" />
        <activity android:name=".activity.TransitionTwoActivity" />
        <activity android:name=".activity.WechatPopupActivity" />
        <activity android:name=".activity.HorizontalScrollViewActivity" />
        <activity android:name=".activity.ShareNineImageActivity" />
        <activity android:name=".activity.NiceLabelActivity" />
        <activity android:name=".activity.SocketTestActivity" />
        <activity android:name=".activity.FileOperationActivity"></activity>
        <activity android:name=".activity.MobikeTagActivity"></activity>
        <activity android:name=".activity.RandomPositionActivity"></activity>
        <activity android:name=".activity.Tag3DActivity"></activity>
        <activity android:name=".activity.NineGongGeSelect"></activity>
        <activity android:name=".activity.NineGongGeActivity2"></activity>
        <activity android:name=".activity.GlideUseActivity"></activity>
        <activity android:name=".activity.OkHttpUseActivity"></activity>
        <activity android:name=".net.DownloadMgrActivity"></activity>
        <activity android:name=".activity.CircleIndicatorActivity"></activity>
        <activity android:name=".activity.CircleIndicatorOne"></activity>
        <activity android:name=".activity.CircleIndicatorTwo"></activity>
        <activity android:name=".activity.CircleIndicatorThree"></activity>
        <activity android:name=".activity.FileListBtnActivity"></activity>
        <activity android:name=".activity.FileDisplayActivity"></activity>
        <activity android:name=".activity.PermissionActivity"></activity>
        <activity android:name=".activity.PermissionsActivity"></activity>
        <activity android:name=".activity.PermissionActivity2"></activity>
        <activity android:name=".activity.X5WebviewActivity"></activity>
        <activity android:name=".activity.popup.WechatLongClickActivity"></activity>
    </application>

</manifest>