<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.roc.rocdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".RocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/base_NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OkgoActivity"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".Activity.DialogActivity"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".Activity.SelectPhotoActivity"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".Activity.CoordinatorLayout"
            android:theme="@style/base_NoActionBar" />
        <activity
            android:name=".Activity.PopTest"
            android:theme="@style/base_NoActionBar" />
        <activity android:name=".Activity.OkHttpFinalActivity" />
        <activity android:name=".Activity.RecyclerViewAddHead" />
        <activity android:name=".Activity.QrCodeActivity" />
        <activity android:name=".Activity.NineGongGeAcitivy" />
        <activity android:name=".Activity.TransitionOneActivity" />
        <activity android:name=".Activity.TransitionTwoActivity" />
        <activity android:name=".Activity.WechatPopupActivity" />
        <activity android:name=".Activity.HorizontalScrollViewActivity" />
        <activity android:name=".Activity.ShareNineImageActivity" />
        <activity android:name=".Activity.NiceLabelActivity" />
        <activity android:name=".Activity.SocketTestActivity" />
        <activity android:name=".Activity.FileOperationActivity"></activity>
        <activity android:name=".Activity.MobikeTagActivity"></activity>
    </application>

</manifest>